In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/Comma-separated_values"

In [4]:
response = requests.get(url)

In [5]:
soup = BeautifulSoup(response.content, 'html.parser')

In [6]:
tables = soup.find_all('table', class_='wikitable')

In [7]:
print(f"Number of tables found: {len(tables)}")

Number of tables found: 1

In [8]:
table = tables[0]

In [9]:
df = pd.read_html(str(table))[0]

In [10]:
print(df)

   Year   Make                                   Model  \
0  1997   Ford                                    E350
1  1999  Chevy              Venture "Extended Edition"
2  1999  Chevy  Venture "Extended Edition, Very Large"
3  1996   Jeep                          Grand Cherokee

                         Description   Price
0                      ac, abs, moon  3000.0
1                                NaN  4900.0
2                                NaN  5000.0
3  MUST SELL! air, moon roof, loaded  4799.0

In [11]:
output_file = "/Users/lotteschaldach/Dropbox/Mein Mac (MBP-von-Lotte)/Documents/st2195_assignment_2/python_csv/cars_example.csv"

In [12]:
df.to_csv(output_file, index=False)

In [13]:
print(f"The CSV file has been saved to: {output_file}")

The CSV file has been saved to: /Users/lotteschaldach/Dropbox/Mein Mac (MBP-von-Lotte)/Documents/st2195_assignment_2/python_csv/cars_example.csv